<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.layout"
        version="1.0">

  <name>Common Layouts and widgets aPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidLayoutsCordovaPlugin">
        <param name="android-package" value="com.ashera.layout.AndroidLayoutsCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    
    <framework src="layout.gradle" custom="true" type="gradleReference" />

	 <!-- start res -->
     <source-file src="res/values/model_attrs.xml" target-dir="res/values"/>
     <!-- res end -->
	 <!-- start src -->
     <source-file src="src/com/ashera/layout/AndroidLayoutsCordovaPlugin.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ButtonImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/CheckBoxImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ChronometerImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/EditTextImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/FrameLayoutImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/HorizontalScrollViewImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ImageButtonImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ImageViewImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/LinearLayoutImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/Link.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/LinkImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ListViewImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/Model.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ModelImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/MultiSelectionSpinner.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/MultiSelectionSpinnerImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ProgressBarImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/RadioButtonImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/RadioGroupImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/RelativeLayoutImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/RootImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ScrollViewImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/SpinnerImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/SwitchImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/TableLayoutImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/TableRowImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/TextViewImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ToggleButtonImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ViewGroupImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ViewGroupModelImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ViewImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/ViewOnlyImpl.java" target-dir="src/com/ashera/layout"/>
     <source-file src="src/com/ashera/layout/WebViewImpl.java" target-dir="src/com/ashera/layout"/>
     <!-- src end -->
     
     <!-- start tsc -->
     <source-file src="tsc/src/android/widget/ButtonImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/CheckBoxImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ChronometerImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/EditTextImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/FrameLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/HorizontalScrollViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ImageButtonImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ImageViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/LinearLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/LinkImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ListViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ModelImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/MultiSelectionSpinnerImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ProgressBarImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/RadioButtonImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/RadioGroupImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/RelativeLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/RootImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ScrollViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/SpinnerImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/SwitchImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/TableLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/TableRowImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/TextViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ToggleButtonImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ViewGroupImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ViewGroupModelImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/ViewOnlyImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/WebViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>