<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.datetime.web"
        version="1.0">

  <name>Datetime Plugin</name>

  <platform name="browser">
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaDateTimePlugin">
        <param name="android-package" value="com.ashera.datetime.CordovaDateTimePlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="core.gradle" custom="true" type="gradleReference" />
	<resource-file src="www/css/date-time-picker.min.css" target="../../src/main/assets/www/css/date-time-picker.min.css" />
   	<resource-file src="www/js/date-time-picker.min.js" target="../../src/main/assets/www/js/date-time-picker.min.js" />
   	<js-module src="www/js/add_res.js" name="datetimeAddRes">
    	 <runs/>
  	</js-module>
  </platform>
</plugin>