<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.toolbar.ios"
        version="1.0">

  <name>CordovaToolbarPlugin Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="CordovaToolbarPlugin">
        	<param name="ios-package" value="CordovaToolbarPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/src/ActionMenuViewImpl.h" target-dir="ToolbarPlugin/ios/src"/>
     <source-file src="ios/src/ActionMenuViewImpl.m" target-dir="ToolbarPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CordovaToolbarPlugin.h" target-dir="ToolbarPlugin/ios/src"/>
     <source-file src="ios/src/CordovaToolbarPlugin.m" target-dir="ToolbarPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/KxMenu.h" target-dir="ToolbarPlugin/ios/src"/>
     <source-file src="ios/src/KxMenu.m" target-dir="ToolbarPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ToolbarImpl.h" target-dir="ToolbarPlugin/ios/src"/>
     <source-file src="ios/src/ToolbarImpl.m" target-dir="ToolbarPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ToolbarPlugin.h" target-dir="ToolbarPlugin/ios/src"/>
     <source-file src="ios/src/ToolbarPlugin.m" target-dir="ToolbarPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start tsc -->
     <source-file src="tsc/src/ios/widget/ActionMenuViewImpl.ts" target-dir="tsc/src/ios/widget"/>
     <source-file src="tsc/src/ios/widget/ToolbarImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
     <!-- start AndroidToolbarPlugin -->
     <header-file src="library/AndroidToolbarPlugin/src/ActionMenuPresenter.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/ActionMenuPresenter.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/ActionMenuView.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/ActionMenuView.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/BaseMenuPresenter.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/BaseMenuPresenter.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/LinearLayoutCompat.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/LinearLayoutCompat.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/MenuBuilder.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/MenuBuilder.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/MenuItemImpl.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/MenuItemImpl.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/MenuParser.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/MenuParser.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/MenuPresenter.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/MenuPresenter.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/RtlSpacingHelper.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/RtlSpacingHelper.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/Toolbar.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/Toolbar.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/AndroidToolbarPlugin/src/ViewUtils.h" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src"/>
     <source-file src="library/AndroidToolbarPlugin/src/ViewUtils.m" target-dir="AndroidToolbarPlugin/AndroidToolbarPlugin/src" compiler-flags="-fno-objc-arc"/>
     <!-- AndroidToolbarPlugin end -->
  </platform>
  


</plugin>