<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.capinsets"
        version="1.0">

  <name>CordovaCapInsetsPlugin Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaCapInsetsPlugin">
        <param name="android-package" value="com.ashera.capinsets.CordovaCapInsetsPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="src/com/ashera/capinsets/CapInsetsCommandConverter.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="src/com/ashera/capinsets/CapInsetsPlugin.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="src/com/ashera/capinsets/CapInsetsViewImpl.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="src/com/ashera/capinsets/CordovaCapInsetsPlugin.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="src/com/ashera/capinsets/NinePatchImageUtils.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="src/test/java/readme.txt" target-dir="src/test/java"/>
     <!-- src end -->
     <!-- start res -->

     <!-- res end -->
     <!-- start tsc -->
     <source-file src="tsc/src/android/widget/CapInsetsViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>