<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.tools"
        version="1.0">

  <name>Toolbar Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
 <platform name="android">
  	<framework src="tools.gradle" custom="true" type="gradleReference" />
    <!-- start gentool -->
     <source-file src="gentool/autoGenerateFiles.js" target-dir="gentool"/>
     <source-file src="gentool/colors.xsl" target-dir="gentool"/>
     <source-file src="gentool/dimens.xsl" target-dir="gentool"/>
     <source-file src="gentool/font.xsl" target-dir="gentool"/>
     <source-file src="gentool/fontcss.xsl" target-dir="gentool"/>
     <source-file src="gentool/fragment.xsl" target-dir="gentool"/>
     <source-file src="gentool/fragmentmapper.xsl" target-dir="gentool"/>
     <source-file src="gentool/id.xsl" target-dir="gentool"/>
     <source-file src="gentool/nav_graph.xsl" target-dir="gentool"/>
     <source-file src="gentool/package.json" target-dir="gentool"/>
     <source-file src="gentool/plist.js" target-dir="gentool"/>
     <source-file src="gentool/resize.js" target-dir="gentool"/>
     <source-file src="gentool/strings.xsl" target-dir="gentool"/>
     <source-file src="gentool/styles.xsl" target-dir="gentool"/>
     <source-file src="gentool/theme.xsl" target-dir="gentool"/>
     <source-file src="gentool/theme_widgetoverride.xsl" target-dir="gentool"/>
     <source-file src="gentool/xml-to-json.xsl" target-dir="gentool"/>
     <source-file src="gentool/xml2json.js" target-dir="gentool"/>
     <!-- gentool end -->
   
  </platform> 
</plugin>