<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.converter"
        version="1.0">

  <name>Core Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ConverterCordovaPlugin">
        <param name="android-package" value="com.ashera.converter.ConverterCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <framework src="converter.gradle" custom="true" type="gradleReference" />
    <!-- start src -->
     <source-file src="src/com/ashera/converter/ColorConverter.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/ColorImageConverter.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/ColorStateConverter.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/ConverterCordovaPlugin.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/ConverterPlugin.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/Divider.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/DrawableImageConverter.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/FontConverter.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/ImageRepeatCommandConverter.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/StyleConverter.java" target-dir="src/com/ashera/converter"/>
     <source-file src="src/com/ashera/converter/XmlResourceConverter.java" target-dir="src/com/ashera/converter"/>
     <!-- src end -->
  </platform>


</plugin>