<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.filfatstudios.spinnerdialog.swt"
        version="1.0">

  <name>Spinnerdialog Plugin</name>

  <platform name="swt">
	<config-file target="res/xml/config.xml" parent="/*">
	  	<feature name="SpinnerDialog">
        	<param name="android-package" value="com.filfatstudios.spinnerdialog.SpinnerDialog" />
    	</feature>
	</config-file>  
   	<source-file src="src/main/java/com/filfatstudios/spinnerdialog/InfiniteProgressPanel.java" target-dir="com/filfatstudios/spinnerdialog/"/>
   	<source-file src="src/main/java/com/filfatstudios/spinnerdialog/ProgressDialog.java" target-dir="com/filfatstudios/spinnerdialog/"/>
   	<source-file src="src/main/java/com/filfatstudios/spinnerdialog/SpinnerDialog.java" target-dir="com/filfatstudios/spinnerdialog/"/>
  </platform>
</plugin>