<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.converter.ios"
        version="1.0">

  <name>ConverterPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="com.ashera.converter.ios">
        	<param name="ios-package" value="ConverterCordovaPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

     <!-- start ios -->
     <header-file src="ios/src/CGTintColorCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/CGTintColorCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ColorConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/ColorConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ColorImageConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/ColorImageConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ColorStateConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/ColorStateConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ConverterCordovaPlugin.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/ConverterCordovaPlugin.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ConverterPlugin.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/ConverterPlugin.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/DrawableConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/DrawableConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/DrawDrawableCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/DrawDrawableCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/DrawForegroundCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/DrawForegroundCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/DrawImageCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/DrawImageCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/DrawImageOrColorCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/DrawImageOrColorCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/FontConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/FontConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ImageConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/ImageConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/ImageRepeatCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/ImageRepeatCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/TintColorCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/TintColorCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/TransformCommandConverter.h" target-dir="ConverterPlugin/ios/src"/>
     <source-file src="ios/src/TransformCommandConverter.m" target-dir="ConverterPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start Plugin_Converter -->
     <source-file src="library/Plugin_Converter/src/.DS_Store" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <header-file src="library/Plugin_Converter/src/AbstractBitFlagConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/AbstractBitFlagConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/AbstractEnumToIntArrayConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/AbstractEnumToIntArrayConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/AbstractEnumToIntConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/AbstractEnumToIntConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/AbstractStringToEnumConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/AbstractStringToEnumConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/Alphabet.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/Alphabet.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/AlphaNumeric.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/AlphaNumeric.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/ArrayConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/ArrayConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/BaseConverterPlugin.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/BaseConverterPlugin.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/BooleanConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/BooleanConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/CommonConverters.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/CommonConverters.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/Date.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/Date.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DimensionConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DimensionConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DimensionDpPxIntConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DimensionDpPxIntConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DimensionFloatConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DimensionFloatConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DimensionPxIntConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DimensionPxIntConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DimensionSpConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DimensionSpConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DimensionSpIntConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DimensionSpIntConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DimensionSpPxIntConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DimensionSpPxIntConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/DoubleConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/DoubleConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/EscapeHtmlCommandConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/EscapeHtmlCommandConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/FloatConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/FloatConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/GravityConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/GravityConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/IdConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/IdConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/InRange.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/InRange.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/IntConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/IntConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/IsEmail.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/IsEmail.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/IsMobileNumber.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/IsMobileNumber.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/IsNumber.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/IsNumber.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/IsPositiveInteger.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/IsPositiveInteger.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/IsValidPIN.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/IsValidPIN.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/JavaEventCommand.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/JavaEventCommand.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/Length.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/Length.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/ListToIntArrayConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/ListToIntArrayConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/MarqueeCommandConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/MarqueeCommandConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/MaxLength.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/MaxLength.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/MaxLengthCommandConveter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/MaxLengthCommandConveter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/MaxValue.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/MaxValue.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/MinLength.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/MinLength.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/MinValue.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/MinValue.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/NotEmpty.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/NotEmpty.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/ObjectToMapConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/ObjectToMapConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/PasswordCommandConveter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/PasswordCommandConveter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/Pattern.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/Pattern.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/PercentConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/PercentConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/ResourceStringConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/ResourceStringConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/StrongPassword.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/StrongPassword.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/TemplateConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/TemplateConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/TextFormatCommandConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/TextFormatCommandConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/Time.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/Time.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/TimeConverter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/TimeConverter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/UpperCaseCommandConveter.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/UpperCaseCommandConveter.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="library/Plugin_Converter/src/Url.h" target-dir="ConverterPlugin/Plugin_Converter/src"/>
     <source-file src="library/Plugin_Converter/src/Url.m" target-dir="ConverterPlugin/Plugin_Converter/src" compiler-flags="-fno-objc-arc"/>
     <!-- Plugin_Converter end -->
  </platform>
</plugin>