<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.converter.swt"
        version="1.0">

  <name>Converter Plugin</name>

  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ConverterCordovaPlugin">
        <param name="android-package" value="com.ashera.converter.ConverterCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>  
   	<framework src="converter.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>