<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.cssborder"
        version="1.0">

  <name>CSS Border Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidCSSBorderPlugin">
        <param name="android-package" value="com.ashera.cssborder.BorderCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="android/src/com/ashera/cssborder/BorderCordovaPlugin.java" target-dir="src/com/ashera/cssborder"/>
     <source-file src="android/src/com/ashera/cssborder/BorderViewImpl.java" target-dir="src/com/ashera/cssborder"/>
     <source-file src="android/src/com/ashera/layout/decorator/Border.java" target-dir="src/com/ashera/layout/decorator"/>
     <source-file src="android/src/com/ashera/layout/decorator/BorderDecorator.java" target-dir="src/com/ashera/layout/decorator"/>
     <!-- src end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="android/tsc/src/android/widget/BorderViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="com.ashera.cssborder.ios">
        	<param name="ios-package" value="BorderCordovaPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>


   	 <!-- start ios -->
     <header-file src="ios/ios/src/Border.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/ios/src/Border.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/BorderCordovaPlugin.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/ios/src/BorderCordovaPlugin.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/BorderDecorator.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/ios/src/BorderDecorator.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/BorderPlugin.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/ios/src/BorderPlugin.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/BorderViewImpl.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/ios/src/BorderViewImpl.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="ios/tsc/src/ios/widget/BorderViewImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="browser">
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidCSSBorderPlugin">
        <param name="android-package" value="com.ashera.cssborder.BorderCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="browser/core.gradle" custom="true" type="gradleReference" />
  </platform>
  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidCSSBorderPlugin">
        <param name="android-package" value="com.ashera.cssborder.BorderCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>  
   	<framework src="swt/core.gradle" custom="true" type="gradleReference" />
  </platform>





</plugin>