<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.toolbar.web"
        version="1.0">

  <name>Toolbar Plugin</name>

  <platform name="browser">
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaToolbarPlugin">
        <param name="android-package" value="com.ashera.toolbar.CordovaToolbarPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="core.gradle" custom="true" type="gradleReference" />
   	<resource-file src="www/css/toolbar.css" target="../../src/main/assets/www/css/toolbar.css" />
   	<js-module src="www/js/add_res.js" name="toolbarAddRes">
    	 <runs/>
  	</js-module>
  </platform>
</plugin>