<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.datetime"
        version="1.0">

  <name>CordovaDateTimePlugin Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaDateTimePlugin">
        <param name="android-package" value="com.ashera.datetime.CordovaDateTimePlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="android/src/com/ashera/datetime/CordovaDateTimePlugin.java" target-dir="src/com/ashera/datetime"/>
     <source-file src="android/src/com/ashera/datetime/DatePicker.java" target-dir="src/com/ashera/datetime"/>
     <source-file src="android/src/com/ashera/datetime/DatePickerImpl.java" target-dir="src/com/ashera/datetime"/>
     <source-file src="android/src/com/ashera/datetime/DateTimePlugin.java" target-dir="src/com/ashera/datetime"/>
     <source-file src="android/src/com/ashera/datetime/TimePicker.java" target-dir="src/com/ashera/datetime"/>
     <source-file src="android/src/com/ashera/datetime/TimePickerImpl.java" target-dir="src/com/ashera/datetime"/>
     <!-- src end -->
     <!-- start res -->
     <source-file src="android/res/drawable-xxxhdpi/icon_calendar.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="android/res/drawable-xxxhdpi/icon_clear.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="android/res/drawable-xxxhdpi/icon_time.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="android/res/layout/datepicker.xml" target-dir="res/layout"/>
     <source-file src="android/res/layout/timepicker.xml" target-dir="res/layout"/>
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="android/tsc/src/android/widget/DatePickerImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="android/tsc/src/android/widget/TimePickerImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="CordovaDateTimePlugin">
        	<param name="ios-package" value="CordovaDateTimePlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/ios/src/CordovaDateTimePlugin.h" target-dir="DateTimePlugin/ios/src"/>
     <source-file src="ios/ios/src/CordovaDateTimePlugin.m" target-dir="DateTimePlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/DatePicker.h" target-dir="DateTimePlugin/ios/src"/>
     <source-file src="ios/ios/src/DatePicker.m" target-dir="DateTimePlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/DatePickerImpl.h" target-dir="DateTimePlugin/ios/src"/>
     <source-file src="ios/ios/src/DatePickerImpl.m" target-dir="DateTimePlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/DateTimePlugin.h" target-dir="DateTimePlugin/ios/src"/>
     <source-file src="ios/ios/src/DateTimePlugin.m" target-dir="DateTimePlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/TimePicker.h" target-dir="DateTimePlugin/ios/src"/>
     <source-file src="ios/ios/src/TimePicker.m" target-dir="DateTimePlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/TimePickerImpl.h" target-dir="DateTimePlugin/ios/src"/>
     <source-file src="ios/ios/src/TimePickerImpl.m" target-dir="DateTimePlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start tsc -->
     <source-file src="ios/tsc/src/ios/widget/DatePickerImpl.ts" target-dir="tsc/src/ios/widget"/>
     <source-file src="ios/tsc/src/ios/widget/TimePickerImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="browser">
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaDateTimePlugin">
        <param name="android-package" value="com.ashera.datetime.CordovaDateTimePlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="browser/core.gradle" custom="true" type="gradleReference" />
	<resource-file src="browser/www/css/date-time-picker.min.css" target="../../src/main/assets/www/css/date-time-picker.min.css" />
   	<resource-file src="browser/www/js/date-time-picker.min.js" target="../../src/main/assets/www/js/date-time-picker.min.js" />
   	<js-module src="browser/www/js/add_res.js" name="datetimeAddRes">
    	 <runs/>
  	</js-module>
  </platform>
  <platform name="swt">
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaDateTimePlugin">
        <param name="android-package" value="com.ashera.datetime.CordovaDateTimePlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="swt/core.gradle" custom="true" type="gradleReference" />
  </platform>





</plugin>