<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.core.swt"
        version="1.0">

  <name>Core Plugin</name>

  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CoreCordovaPlugin">
        <param name="android-package" value="com.ashera.core.CoreCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="core.gradle" custom="true" type="gradleReference" />

     <source-file src="starter/TestApp.java" target-dir="com/ashera/swt/starter"/>
     <source-file src="starter/Sleak.java"   target-dir="com/ashera/swt/starter"/>
	<js-module src="www/coreManager.js" name="coreManager">
    	<clobbers target="coreManager" />
  	</js-module>
  </platform>
</plugin>