<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.drawerlayout"
        version="1.0">

  <name>CordovaNavigationDrawerPlugin Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaNavigationDrawerPlugin">
        <param name="android-package" value="com.ashera.drawerlayout.CordovaNavigationDrawerPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
	<framework src="android/core.gradle" custom="true" type="gradleReference" />
   	 <!-- start src -->
     <source-file src="android/src/com/ashera/drawerlayout/CordovaNavigationDrawerPlugin.java" target-dir="src/com/ashera/drawerlayout"/>
     <source-file src="android/src/com/ashera/drawerlayout/DrawerLayoutImpl.java" target-dir="src/com/ashera/drawerlayout"/>
     <source-file src="android/src/com/ashera/drawerlayout/NavigationDrawerPlugin.java" target-dir="src/com/ashera/drawerlayout"/>
     <!-- src end -->
     <!-- start res -->

     <!-- res end -->
     <!-- start tsc -->
     <source-file src="android/tsc/src/android/widget/DrawerLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="CordovaNavigationDrawerPlugin">
        	<param name="ios-package" value="CordovaNavigationDrawerPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/ios/src/CordovaNavigationDrawerPlugin.h" target-dir="NavigationDrawerPlugin/ios/src"/>
     <source-file src="ios/ios/src/CordovaNavigationDrawerPlugin.m" target-dir="NavigationDrawerPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/DrawerLayoutImpl.h" target-dir="NavigationDrawerPlugin/ios/src"/>
     <source-file src="ios/ios/src/DrawerLayoutImpl.m" target-dir="NavigationDrawerPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/NavigationDrawerPlugin.h" target-dir="NavigationDrawerPlugin/ios/src"/>
     <source-file src="ios/ios/src/NavigationDrawerPlugin.m" target-dir="NavigationDrawerPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start tsc -->
     <source-file src="ios/tsc/src/ios/widget/DrawerLayoutImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
     <!-- start AndroidXDrawerLayout -->
     <header-file src="ios/library/AndroidXDrawerLayout/src/DrawerLayout.h" target-dir="AndroidXDrawerLayout/AndroidXDrawerLayout/src"/>
     <source-file src="ios/library/AndroidXDrawerLayout/src/DrawerLayout.m" target-dir="AndroidXDrawerLayout/AndroidXDrawerLayout/src" compiler-flags="-fno-objc-arc"/>
     <!-- AndroidXDrawerLayout end -->
  </platform>
  <platform name="browser">
   	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaNavigationDrawerPlugin">
        <param name="android-package" value="com.ashera.drawerlayout.CordovaNavigationDrawerPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="browser/core.gradle" custom="true" type="gradleReference" />
  </platform>
  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaNavigationDrawerPlugin">
        <param name="android-package" value="com.ashera.drawerlayout.CordovaNavigationDrawerPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>  
   	<framework src="swt/core.gradle" custom="true" type="gradleReference" />
  </platform>





</plugin>