<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.core"
        version="1.0">

  <name>Core Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CoreCordovaPlugin">
        <param name="android-package" value="com.ashera.core.CoreCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
    	<activity android:label="@string/app_name" android:name="com.ashera.core.MainActivity" android:theme="@style/AppTheme">
            <intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	</config-file>

	<hook type="before_plugin_install" src="hooks/beforeInstall.js" />
	<hook type="after_plugin_install" src="hooks/afterInstall.js" />
    <framework src="core.gradle" custom="true" type="gradleReference" />

   	<js-module src="www/coreManager.js" name="coreManager">
    	<clobbers target="coreManager" />
  	</js-module>
    
    <source-file src="cordovalib.gradle" target-dir="../../../CordovaLib"/>
     <!-- start src -->
     <source-file src="src/com/ashera/core/ApplicationUtils.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/attributedtext/AttributedStringImpl.java" target-dir="src/com/ashera/core/attributedtext"/>
     <source-file src="src/com/ashera/core/attributedtext/CustomTypefaceSpan.java" target-dir="src/com/ashera/core/attributedtext"/>
     <source-file src="src/com/ashera/core/attributedtext/HeightSpan.java" target-dir="src/com/ashera/core/attributedtext"/>
     <source-file src="src/com/ashera/core/BaseCordovaActivity.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/CoreCordovaPlugin.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/CorePlugin.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/GenericDialogFragment.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/GenericFragment.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/ICore.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/MainActivity.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/MyDialog.java" target-dir="src/com/ashera/core"/>
     <source-file src="src/com/ashera/core/UINavigatorImpl.java" target-dir="src/com/ashera/core"/>
     <!-- src end -->
      <!-- start res -->
     <source-file src="res/color/border_material_color.xml" target-dir="res/color"/>
     <source-file src="res/drawable-hdpi/check_box_checked.png" target-dir="res/drawable-hdpi"/>
     <source-file src="res/drawable-hdpi/check_box_checked_disabled.png" target-dir="res/drawable-hdpi"/>
     <source-file src="res/drawable-hdpi/check_box_unchecked.png" target-dir="res/drawable-hdpi"/>
     <source-file src="res/drawable-hdpi/check_box_unchecked_disabled.png" target-dir="res/drawable-hdpi"/>
     <source-file src="res/drawable-hdpi/radio_button_checked.png" target-dir="res/drawable-hdpi"/>
     <source-file src="res/drawable-hdpi/radio_button_unchecked.png" target-dir="res/drawable-hdpi"/>
     <source-file src="res/drawable-ldpi/check_box_checked.png" target-dir="res/drawable-ldpi"/>
     <source-file src="res/drawable-ldpi/check_box_checked_disabled.png" target-dir="res/drawable-ldpi"/>
     <source-file src="res/drawable-ldpi/check_box_unchecked.png" target-dir="res/drawable-ldpi"/>
     <source-file src="res/drawable-ldpi/check_box_unchecked_disabled.png" target-dir="res/drawable-ldpi"/>
     <source-file src="res/drawable-ldpi/radio_button_checked.png" target-dir="res/drawable-ldpi"/>
     <source-file src="res/drawable-ldpi/radio_button_unchecked.png" target-dir="res/drawable-ldpi"/>
     <source-file src="res/drawable-mdpi/check_box_checked.png" target-dir="res/drawable-mdpi"/>
     <source-file src="res/drawable-mdpi/check_box_checked_disabled.png" target-dir="res/drawable-mdpi"/>
     <source-file src="res/drawable-mdpi/check_box_unchecked.png" target-dir="res/drawable-mdpi"/>
     <source-file src="res/drawable-mdpi/check_box_unchecked_disabled.png" target-dir="res/drawable-mdpi"/>
     <source-file src="res/drawable-mdpi/radio_button_checked.png" target-dir="res/drawable-mdpi"/>
     <source-file src="res/drawable-mdpi/radio_button_unchecked.png" target-dir="res/drawable-mdpi"/>
     <source-file src="res/drawable-xhdpi/check_box_checked.png" target-dir="res/drawable-xhdpi"/>
     <source-file src="res/drawable-xhdpi/check_box_checked_disabled.png" target-dir="res/drawable-xhdpi"/>
     <source-file src="res/drawable-xhdpi/check_box_unchecked.png" target-dir="res/drawable-xhdpi"/>
     <source-file src="res/drawable-xhdpi/check_box_unchecked_disabled.png" target-dir="res/drawable-xhdpi"/>
     <source-file src="res/drawable-xhdpi/radio_button_checked.png" target-dir="res/drawable-xhdpi"/>
     <source-file src="res/drawable-xhdpi/radio_button_unchecked.png" target-dir="res/drawable-xhdpi"/>
     <source-file src="res/drawable-xxhdpi/check_box_checked.png" target-dir="res/drawable-xxhdpi"/>
     <source-file src="res/drawable-xxhdpi/check_box_checked_disabled.png" target-dir="res/drawable-xxhdpi"/>
     <source-file src="res/drawable-xxhdpi/check_box_unchecked.png" target-dir="res/drawable-xxhdpi"/>
     <source-file src="res/drawable-xxhdpi/check_box_unchecked_disabled.png" target-dir="res/drawable-xxhdpi"/>
     <source-file src="res/drawable-xxhdpi/radio_button_checked.png" target-dir="res/drawable-xxhdpi"/>
     <source-file src="res/drawable-xxhdpi/radio_button_unchecked.png" target-dir="res/drawable-xxhdpi"/>
     <source-file src="res/drawable-xxxhdpi/check_box_checked.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="res/drawable-xxxhdpi/check_box_checked_disabled.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="res/drawable-xxxhdpi/check_box_unchecked.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="res/drawable-xxxhdpi/check_box_unchecked_disabled.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="res/drawable-xxxhdpi/radio_button_checked.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="res/drawable-xxxhdpi/radio_button_unchecked.png" target-dir="res/drawable-xxxhdpi"/>
     <source-file src="res/drawable/checkbox_selector.xml" target-dir="res/drawable"/>
     <source-file src="res/drawable/radio_selector.xml" target-dir="res/drawable"/>
     <source-file src="res/font/droidsansmono.ttf" target-dir="res/font"/>
     <source-file src="res/font/robotobold.ttf" target-dir="res/font"/>
     <source-file src="res/font/robotobolditalic.ttf" target-dir="res/font"/>
     <source-file src="res/font/robotoitalic.ttf" target-dir="res/font"/>
     <source-file src="res/font/robotoregular.ttf" target-dir="res/font"/>
     <source-file src="res/layout/activity_main.xml" target-dir="res/layout"/>
     <source-file src="res/layout/error.xml" target-dir="res/layout"/>
     <source-file src="res/layout/erroritem.xml" target-dir="res/layout"/>
     <source-file src="res/layout/error_detail.xml" target-dir="res/layout"/>
     <!-- res end -->
      <!-- start tsc -->
     <source-file src="tsc/package.json" target-dir="tsc"/>
     <source-file src="tsc/src/app.ts" target-dir="tsc/src"/>
     <source-file src="tsc/src/app/DragEvent.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/Event.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/EventType.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/Fragment.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/Intent.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/KeyEvent.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/LocaleManager.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/MotionEvent.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/app/ScopedObject.ts" target-dir="tsc/src/app"/>
     <source-file src="tsc/src/ErrorDetailFragment.ts" target-dir="tsc/src"/>
     <source-file src="tsc/src/ErrorFragment.ts" target-dir="tsc/src"/>
     <source-file src="tsc/src/FragmentFactory.ts" target-dir="tsc/src"/>
     <source-file src="tsc/src/navigation/NavController.ts" target-dir="tsc/src/navigation"/>
     <source-file src="tsc/src/widget/CommandAttr.ts" target-dir="tsc/src/widget"/>
     <source-file src="tsc/src/widget/ILayoutParam.ts" target-dir="tsc/src/widget"/>
     <source-file src="tsc/src/widget/IWidget.ts" target-dir="tsc/src/widget"/>
     <source-file src="tsc/src/widget/Transformer.ts" target-dir="tsc/src/widget"/>
     <source-file src="tsc/src/widget/TransformerFactory.ts" target-dir="tsc/src/widget"/>
     <source-file src="tsc/src/widget/TypeConstants.ts" target-dir="tsc/src/widget"/>
     <source-file src="tsc/tsconfig.json" target-dir="tsc"/>
     <source-file src="tsc/tslint.json" target-dir="tsc"/>
     <source-file src="tsc/webpack.config.js" target-dir="tsc"/>
     <!-- tsc end -->
     
     <resource-file src="www/css/font_standard.css" target="../../src/main/assets/www/css/font_standard.css" />
  </platform>
</plugin>