<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.jsonadapter"
        version="1.0">

  <name>JSON adapter Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="JSONAdapterCordovaPlugin">
        <param name="android-package" value="com.ashera.jsonadapter.JSONAdapterCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <framework src="json.gradle" custom="true" type="gradleReference" />
    
    <!-- start src -->
     <source-file src="src/com/ashera/jsonadapter/JSONAdapter.java" target-dir="src/com/ashera/jsonadapter"/>
     <source-file src="src/com/ashera/jsonadapter/JSONAdapterCordovaPlugin.java" target-dir="src/com/ashera/jsonadapter"/>
     <source-file src="src/com/ashera/jsonadapter/JSONAdapterImpl.java" target-dir="src/com/ashera/jsonadapter"/>
     <!-- src end -->    
  </platform>


</plugin>