<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.custom"
        version="1.0">

  <name>LayoutPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CustomCordovaPlugin">
        <param name="android-package" value="com.ashera.custom.CustomCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

     <source-file src="src/main/java/com/ashera/custom/CustomMethodHandler.java" target-dir="src/com/ashera/custom"/>
     <source-file src="src/main/java/com/ashera/custom/CustomPlugin.java" target-dir="src/com/ashera/custom"/>
     <source-file src="src/main/java/com/ashera/custom/CustomValidator.java" target-dir="src/com/ashera/custom"/>
     <source-file src="android/src/com/ashera/custom/CustomCordovaPlugin.java" target-dir="src/com/ashera/custom"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="CustomCordovaPlugin">
        	<param name="ios-package" value="CustomCordovaPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>
  	<!-- start ios -->
     <header-file src="ios/src/CustomCordovaPlugin.h" target-dir="CustomPlugin/ios/src"/>
     <source-file src="ios/src/CustomCordovaPlugin.m" target-dir="CustomPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CustomMethodHandler.h" target-dir="CustomPlugin/ios/src"/>
     <source-file src="ios/src/CustomMethodHandler.m" target-dir="CustomPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CustomPlugin.h" target-dir="CustomPlugin/ios/src"/>
     <source-file src="ios/src/CustomPlugin.m" target-dir="CustomPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CustomValidator.h" target-dir="CustomPlugin/ios/src"/>
     <source-file src="ios/src/CustomValidator.m" target-dir="CustomPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
  </platform>
  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CustomCordovaPlugin">
        <param name="android-package" value="com.ashera.custom.CustomCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

     <!-- start src#main#java -->
     <source-file src="src/main/java/com/ashera/custom/CustomMethodHandler.java" target-dir="src/com/ashera/custom"/>
     <source-file src="src/main/java/com/ashera/custom/CustomPlugin.java" target-dir="src/com/ashera/custom"/>
     <source-file src="src/main/java/com/ashera/custom/CustomValidator.java" target-dir="src/com/ashera/custom"/>
     <!-- src#main#java end -->
     <source-file src="android/src/com/ashera/custom/CustomCordovaPlugin.java" target-dir="src/com/ashera/custom"/>
  </platform>
  
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="CustomCordovaPlugin">
        <param name="android-package" value="com.ashera.custom.CustomCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

     <!-- start src#main#java -->
     <source-file src="src/main/java/com/ashera/custom/CustomMethodHandler.java" target-dir="src/com/ashera/custom"/>
     <source-file src="src/main/java/com/ashera/custom/CustomPlugin.java" target-dir="src/com/ashera/custom"/>
     <source-file src="src/main/java/com/ashera/custom/CustomValidator.java" target-dir="src/com/ashera/custom"/>
     <!-- src#main#java end -->
     <source-file src="android/src/com/ashera/custom/CustomCordovaPlugin.java" target-dir="src/com/ashera/custom"/>
  </platform>
</plugin>