<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.cssborder.ios"
        version="1.0">

  <name>JSON adapter Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
<platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="com.ashera.cssborder.ios">
        	<param name="ios-package" value="BorderCordovaPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>


   	 <!-- start ios -->
     <header-file src="ios/src/Border.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/src/Border.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/BorderCordovaPlugin.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/src/BorderCordovaPlugin.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/BorderDecorator.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/src/BorderDecorator.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/BorderPlugin.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/src/BorderPlugin.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/BorderViewImpl.h" target-dir="CSSBorderPlugin/ios/src"/>
     <source-file src="ios/src/BorderViewImpl.m" target-dir="CSSBorderPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="tsc/src/ios/widget/BorderViewImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>