<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.cssborder"
        version="1.0">

  <name>CSS Border Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidCSSBorderPlugin">
        <param name="android-package" value="com.ashera.cssborder.BorderCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="src/com/ashera/cssborder/BorderCordovaPlugin.java" target-dir="src/com/ashera/cssborder"/>
     <source-file src="src/com/ashera/cssborder/BorderViewImpl.java" target-dir="src/com/ashera/cssborder"/>
     <source-file src="src/com/ashera/layout/decorator/Border.java" target-dir="src/com/ashera/layout/decorator"/>
     <source-file src="src/com/ashera/layout/decorator/BorderDecorator.java" target-dir="src/com/ashera/layout/decorator"/>
     <!-- src end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="tsc/src/android/widget/BorderViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>