<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.capinsets"
        version="1.0">

  <name>CordovaCapInsetsPlugin Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaCapInsetsPlugin">
        <param name="android-package" value="com.ashera.capinsets.CordovaCapInsetsPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="android/src/com/ashera/capinsets/CapInsetsCommandConverter.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="android/src/com/ashera/capinsets/CapInsetsPlugin.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="android/src/com/ashera/capinsets/CapInsetsViewImpl.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="android/src/com/ashera/capinsets/CordovaCapInsetsPlugin.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="android/src/com/ashera/capinsets/NinePatchImageUtils.java" target-dir="src/com/ashera/capinsets"/>
     <source-file src="android/src/test/java/readme.txt" target-dir="src/test/java"/>
     <!-- src end -->
     <!-- start res -->

     <!-- res end -->
     <!-- start tsc -->
     <source-file src="android/tsc/src/android/widget/CapInsetsViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="CordovaCapInsetsPlugin">
        	<param name="ios-package" value="CordovaCapInsetsPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/ios/src/CapInsetsCommandConverter.h" target-dir="CapInsetsPlugin/ios/src"/>
     <source-file src="ios/ios/src/CapInsetsCommandConverter.m" target-dir="CapInsetsPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/CapInsetsPlugin.h" target-dir="CapInsetsPlugin/ios/src"/>
     <source-file src="ios/ios/src/CapInsetsPlugin.m" target-dir="CapInsetsPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/CapInsetsViewImpl.h" target-dir="CapInsetsPlugin/ios/src"/>
     <source-file src="ios/ios/src/CapInsetsViewImpl.m" target-dir="CapInsetsPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/CGCapInsetsCommandConverter.h" target-dir="CapInsetsPlugin/ios/src"/>
     <source-file src="ios/ios/src/CGCapInsetsCommandConverter.m" target-dir="CapInsetsPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/CordovaCapInsetsPlugin.h" target-dir="CapInsetsPlugin/ios/src"/>
     <source-file src="ios/ios/src/CordovaCapInsetsPlugin.m" target-dir="CapInsetsPlugin/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start tsc -->
     <source-file src="ios/tsc/src/ios/widget/CapInsetsViewImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="browser">
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaCapInsetsPlugin">
        <param name="android-package" value="com.ashera.capinsets.CordovaCapInsetsPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="browser/core.gradle" custom="true" type="gradleReference" />
  </platform>
  <platform name="swt">
      <config-file target="res/xml/config.xml" parent="/*">
	      <feature name="CordovaCapInsetsPlugin">
	        <param name="android-package" value="com.ashera.capinsets.CordovaCapInsetsPlugin"/>
	        <param name="onload" value="true" />
	      </feature>
      </config-file>
   	<framework src="swt/core.gradle" custom="true" type="gradleReference" />
  </platform>





</plugin>