<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.core.web"
        version="1.0">

  <name>Core Plugin</name>

  <platform name="browser">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CoreCordovaPlugin">
        <param name="android-package" value="com.ashera.core.CoreCordovaPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="core.gradle" custom="true" type="gradleReference" />
	<js-module src="www/coreManager.js" name="coreManager">
    	<clobbers target="coreManager" />
  	</js-module>
  	<js-module src="www/js/add_res.js" name="coreAddRes">
    	 <runs/>
  	</js-module>
  	<resource-file src="www/js/window_ext.js" target="../../src/main/assets/www/js/window_ext.js" />
  	<resource-file src="www/css/shadowhost.css" target="../../src/main/assets/www/css/shadowhost.css" />
  	<source-file src="src/main/other/com/ashera/Client.java" target-dir="com/ashera/"/>
  	<source-file src="src/main/other/com/ashera/ResourcesSupplier.java" target-dir="com/ashera/"/>
  	<source-file src="src/main/other/com/ashera/ResourcesSupplierGen.java" target-dir="com/ashera/"/>
  	
  	<resource-file src="src/main/resources/META-INF/services/java.util.ResourceBundle" target="../../src/main/resources/META-INF/services/java.util.ResourceBundle" />
  	<resource-file src="src/main/resources/META-INF/services/org.teavm.classlib.ResourceSupplier" target="../../src/main/resources/META-INF/services/org.teavm.classlib.ResourceSupplier" />
  	<resource-file src="src/main/resources/META-INF/services/org.xmlpull.v1.XmlPullParserFactory" target="../../src/main/resources/META-INF/services/org.xmlpull.v1.XmlPullParserFactory" />
  </platform>
</plugin>